<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Personal website:</strong>
  <%= @member.personal_website %>
</p>

<p>
  <strong>Shortened url:</strong>
  <%= @member.shortened_url %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
